{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Home Articlecrud</h1>
    <div><a href="/article">/article</a></div>
    <div><a href="/user">/user</a></div>
    <div><a href="/login">/login</a></div>
    <div><a href="/logout">/logout</a></div>
{% endblock %}
